<div class="tpl-block ">
    <div class="am-g tpl-amazeui-form">
        <div class="am-u-sm-12 am-u-md-9">
            <form class="am-form am-form-horizontal" method="POST" data-am-validator>
                <div class="am-form-group">
                    <label class="am-u-sm-3 am-form-label">菜单</label>
                    <div class="am-u-sm-9">
                        <div class="tpl-switch">
                            <input type="checkbox" name="is_menu" class="ios-switch bigswitch tpl-switch-btn" {if condition="$info.is_menu eq 1"}checked{/if} />
                            <div class="tpl-switch-btn-view">
                                <div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-u-sm-3 am-form-label">父级</label>
                    <div class="am-u-sm-9">
                        <select name="pid" class="am-rule">
                            <option value="0">无</option>
                            {volist name="ruletree" id="vo"}
                            <option value="{$vo.id}" data-name="{$vo.name}" {if condition="$info.pid eq $vo.id"}selected{/if}>{$vo.title|html_entity_decode}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-u-sm-3 am-form-label">规则</label>
                    <div class="am-u-sm-9">
                        <input type="text" name="name" placeholder="模块/控制器/方法" value="{$info.name}" required />
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-u-sm-3 am-form-label">标题</label>
                    <div class="am-u-sm-9">
                        <input type="text" name="title" placeholder="标题 / Title" value="{$info.title}" required />
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-u-sm-3 am-form-label">图标</label>
                    <div class="am-u-sm-9">
                        <div class="am-input-group">
                            <input type="text" name="icon" class="am-form-field" placeholder="图标 / Icon" value="{$info.icon}" />
                            <span class="am-input-group-btn">
                                <button class="am-btn am-btn-default" data-am-modal="{target: '#icon-modal'}"
                                        type="button">搜索图标</button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-u-sm-3 am-form-label">排序</label>
                    <div class="am-u-sm-9">
                        <input type="number" name="sort" placeholder="排序 / Sort" value="{$info.sort}" required />
                        <small>从大到小排序</small>
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-u-sm-3 am-form-label">规则条件</label>
                    <div class="am-u-sm-9">
                        <textarea rows="2" name="condition" placeholder="规则条件 / Condition">{$info.condition}</textarea>
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-u-sm-3 am-form-label">备注</label>
                    <div class="am-u-sm-9">
                        <textarea class="" rows="2" name="remark" placeholder="备注 / Remark">{$info.remark}</textarea>
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-u-sm-3 am-form-label">状态</label>
                    <div class="am-u-sm-9">
                        <div class="tpl-switch">
                            <input type="checkbox" name="status" class="ios-switch bigswitch tpl-switch-btn" {if condition="$info.status eq 1"}checked{/if} />
                            <div class="tpl-switch-btn-view">
                                <div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="am-form-group">
                    <div class="am-u-sm-9 am-u-sm-push-3">
                        <input type="hidden" name="id" value="{$info.id}">
                        <button type="submit" class="am-btn am-btn-primary">保存修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {include file="auth/rule/icon" /}
</div>