<div class="am-popup" id="icon-modal">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title">图标列表</h4>
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd am-popup-bg">
            <div class="am-container">
                <div class="am-g choose-icon">
                    <ul class="am-list-inline">
                        <li><i class="am-icon-home"></i></li>
                        <li><i class="am-icon-group"></i></li>
                        <li><i class="am-icon-angle-right"></i></li>
                        <li><i class="am-icon-angle-left"></i></li>
                        <li><i class="am-icon-angle-down"></i></li>
                        <li><i class="am-icon-angle-up"></i></li>
                        <li><i class="am-icon-angle-double-right"></i></li>
                        <li><i class="am-icon-angle-double-left"></i></li>
                        <li><i class="am-icon-angle-double-down"></i></li>
                        <li><i class="am-icon-angle-double-up"></i></li>
                        <li><i class="am-icon-area-chart"></i></li>
                        <li><i class="am-icon-arrows"></i></li>
                        <li><i class="am-icon-arrows-h"></i></li>
                        <li><i class="am-icon-arrows-v"></i></li>
                        <li><i class="am-icon-asterisk"></i></li>
                        <li><i class="am-icon-at"></i></li>
                        <li><i class="am-icon-automobile"></i></li>
                        <li><i class="am-icon-ban"></i></li>
                        <li><i class="am-icon-bank"></i></li>
                        <li><i class="am-icon-cogs"></i></li>
                        <li><i class="am-icon-list"></i></li>
                        <li><i class="am-icon-trash"></i></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>