<div class="tpl-block">
    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    {:build_toolbar('refresh,dels')}
                </div>
            </div>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-sm-12">
            <form class="am-form">
                <table class="am-table am-table-striped am-table-hover table-main" id="table">
                    <thead>
                    <tr>
                        <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>
                        <th>ID</th>
                        <th>名称</th>
                        <th>邮箱</th>
                        <th>其它联系方式</th>
                        <th>消息内容</th>
                        <th>更新时间</th>
                        <th class="table-set">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="vo"}
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.email}</td>
                        <td>{$vo.other}</td>
                        <td>{$vo.message|mb_substr=0,20}</td>
                        <td class="am-hide-sm-only">{$vo.update_at}</td>
                        <td>
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    {:build_toolbar('edit,del', $vo)}
                                </div>
                            </div>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <div class="am-cf">
                    <div class="am-fr">
                        {$list|raw}
                    </div>
                </div>
                <hr>
            </form>
        </div>

    </div>
</div>
<div class="tpl-alert"></div>