<script src="__STATIC__/js/jackbox.js" type="text/javascript"></script>
<script src="__STATIC__/js/jackbox-lib.js" type="text/javascript"></script>
<script src="__STATIC__/js/jquery.script.js" type="text/javascript"></script>
<script src="__STATIC__/js/jquery.validationEngine.js" type="text/javascript"></script>
<script src="__STATIC__/js/jquery.validationEngine-lang.js" type="text/javascript"></script>
<script src="__STATIC__/js/respond.js" type="text/javascript"></script>
<script src="__LIB__/layer/layer.js" type="text/javascript"></script>